* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Libre Franklin', sans-serif;
}

img {
    width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 640px;
}

header {
    text-align: center;
    margin: 1.5em auto;
}

.logo {
    width: 56px;
    margin-bottom: 2rem;
}

h1 {
    color: #969696;
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    margin: 0 0 1rem;
}

h1 span {
    color: #15202A;
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
}

header>span {
    color: #15202A;
    font-size: 12px;
    font-weight: 300;
    line-height: normal;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email-field {
    width: 90%;
    border-radius: 28px;
    border: 1px solid #C2D3FF;
    background: #FFF;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.00);
    /* color: #B8C7ED; */
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    padding: .65rem 2rem;
    margin: 2rem 0 0;
    font-family: 'Libre Franklin', sans-serif;
    outline: none;
}

/* .email-field:valid {
    border: 1px solid goldenrod;  
} */

.email-field:invalid {
    border: 1px solid #FF5466;
}

.error-display,
.success-display {
    color: #FF5466;
    font-size: 10px;
    font-style: italic;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.125px;
    display: none;
}

.success-display {
    color: goldenrod;
}

.show {
    display: inline;
}

button {
    width: 90%;
    height: 40px;
    border-radius: 28px;
    background: #4C7BF3;
    box-shadow: 0px 5px 10px 2px rgba(76, 123, 243, 0.23);
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    border: none;
    margin: 0.65rem 0;
}

footer {
    margin-top: 4.5rem;
    text-align: center;
}

.copyright {
    color: #969696;
    font-size: 0.625rem;
    font-weight: 300;
    margin-top: 1.5rem;
    display: block;
}

.socials {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    gap: 0.75rem;
}

.social-icon {
    width: 32px;
    height: 32px;
    border: 1px solid rgba(76, 123, 243, 0.15);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon img {
    width: 16px;
}

#instagram {
    width: 20px;
}

/* Media Queries */

@media screen and (min-width: 800px) {

    .logo {
        width: 90px;
    }

    h1,
    h1 span {
        font-size: 3rem;
    }

    header > span {
        font-size: 20px;
    }

    form {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        margin-top: 2.5rem;
        /* border: 1px solid goldenrod; */
        flex-wrap: wrap;
    }   

    button {
        width: 65%;
        max-width: 200px;
        cursor: pointer;
    }

    button:hover {
        background-color: #4c7bf3c7;
    }

    .email-field {
        max-width: 420px;
    }

    .email-field,
    #submit-btn {
        margin: 0;
    }

    .success-display,
    .error-display {
        order: 1;
        margin-left: 2rem;
    }

  .social-icon {
        /* background-color:#4C7BF3; */
        /* fill: #FFF; */

    }

    .social-icon:hover {
        cursor: pointer;
    }

    /* .social-icon img:hover {
        fill: #FFF;
    } */

}